.cawa-fields-group {
    .row > div[class*="col-"] > label {
        color: $gray-light;
    }

    @media (min-width: $screen-sm-min) {
        .form-horizontal & {
            > div.row > div[class*="col-md-"] {
                padding-right: 0;
            }

            > div.row:last-child {
                padding-right: 0;
            }
        }
    }

    .form-tabs {
        margin-left: 0;
        margin-right: 0;

        .cawa-fields-group {
            > div.row {
                margin-right: 0;
            }
        }
    }

    // margin-bottom
    .row {
        @media (max-width: $screen-xs-max) {
            form.form-horizontal > div[class*="col-sm-"] {
                display: flex;
            }

            > div[class*="col-sm-"] {
                margin-bottom: $line-height-computed;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: $screen-sm-max) {
            form.form-horizontal & > div[class*="col-md-"] {
                display: flex;
            }

            > div[class*="col-md-"] {
                margin-bottom: $line-height-computed;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: $screen-md-max) {
            form.form-horizontal > div[class*="col-lg-"] {
                display: flex;
            }

            > div[class*="col-lg-"] {
                margin-bottom: $line-height-computed;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        >  div[class*="col-"].form-group {
            margin-bottom: 0;
        }
    }

    // radio checkbox
    form  & .row .radio + .radio, .checkbox + .checkbox {
        margin-top: 10px;
    }

    form.form-horizontal & .row .radio + .radio, .checkbox + .checkbox {
        margin-top: 0;
    }

    .group-multiline > div {
        margin-bottom: $line-height-computed;
    }
}
