.cawa-fields-group {
    // padding
    @media (min-width: $grid-float-breakpoint) {
        .row:not([class*="-offset-"]) {
            padding-right: 0;
        }

        > div[class*="-offset-"] {
            padding-left: 0;
        }
    }

    .row > div[class*="col-"] > label {
        color: $gray-light;
    }

    // margin-bottom
    .row {
        @media (max-width: $screen-xs-max) {
            form.form-horizontal > div[class*="col-sm-"] {
                display: flex;
            }

            > div[class*="col-sm-"] {
                margin-bottom: $line-height-computed;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: $screen-sm-max) {
            form.form-horizontal & > div[class*="col-md-"] {
                display: flex;
            }

            > div[class*="col-md-"] {
                margin-bottom: $line-height-computed;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: $screen-md-max) {
            form.form-horizontal > div[class*="col-lg-"] {
                display: flex;
            }

            > div[class*="col-lg-"] {
                margin-bottom: $line-height-computed;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        >  div[class*="col-"].form-group {
            margin-bottom: 0;
        }
    }

    // radio checkbox
    form  & .row .radio + .radio, .checkbox + .checkbox {
        margin-top: 10px;
    }

    form.form-horizontal & .row .radio + .radio, .checkbox + .checkbox {
        margin-top: 0;
    }

    .group-multiline > div {
        margin-bottom: $line-height-computed;
    }
}
