.cawa-fields-multiple-group {
    padding-left: 0;

    .form-group {
        margin-bottom: 0;
    }

    .input-group {
        margin-bottom: $form-group-margin-bottom;

        > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .input-group:last-child {
        margin-bottom: 0;
    }

    .input-group-btn {
        padding-left: $grid-gutter-width;

        button {
            height: $input-height-base;
        }
    }
}
