.cawa-fields-multiple-group {
    padding-left: 0;

    .form-group {
        margin-bottom: 0;
    }

    .input-group {
        margin-bottom: $form-group-margin-bottom;

        > .row {
            margin-left: 0;
            margin-right: 0;

            & > .form-group:only-child {
                margin-left: 15px;
            }
        }
    }

    .input-group:last-child {
        margin-bottom: 0;
    }

    .input-group-btn {
        padding-left: $grid-gutter-width;

        a {
            height: $input-height-base;
            line-height: $input-height-base;

            i {
                margin-top: 2px;
            }
        }
    }
}
