table.table {
    th.row-action, th.selection {
        width: 32px;
        text-align: center;
    }

    td.row-action a:not(.btn) {
        color: $text-color;
    }

    tr.deleted {
        color: $gray-light;
    }

    tr.rowheader {
        font-weight: bold;
        background-color: darken($table-bg-accent, 5%);
    }
}
