$nav-tabs-body-border-color: $nav-tabs-border-color !default;
$nav-tabs-body-bg: $nav-tabs-active-link-hover-bg !default;

.cawa-tabs {
    .nav-tabs,
    .nav-pills {
        position: relative;
        border-bottom: 1px solid $nav-tabs-body-border-color;

        > li {
            > a {
            }

            &.pull-right a {
                margin-right: 0;
            }

            &.open > a {
              &,
              &:hover,
              &:focus {
                background-color: $nav-tabs-active-link-hover-bg;
                border-color: $link-color;
              }
            }

            &.active {
                > a {
                    &:not([href^="#"]) {
                        color: $link-color;
                    }
                    border-bottom-color: transparent;
                }
            }
        }
    }

    .tab-content > div {
        background-color: $nav-tabs-body-bg;
        border: 1px solid $nav-tabs-body-border-color;
        border-top: 0;
        padding: 15px 15px 0;
    }


    ul.dropdown-menu {
        min-width: inherit;
    }
}

.form-tabs {
    margin-left: 0;
    margin-right: 0;
}
